.navbar-header{
    //border-bottom:solid 2px #88846F;
    position: relative;
    height: 195px;
    width: 100%;
    transition:1s;
    z-index:1;
    background-color: #FFF;
    .navbar-brand{
        text-align: center;
        margin:0;
        padding: 0;
        position: absolute;
        left:50%;
        transform:translateX(-50%);
        transition: 1s;
        .imgHeader{
            z-index: 1;
            width:150px;
            transition:1s;
            //width:68px;
        }
        h4{
            font-family: Belleza;
            font-size: 1.1rem;
            margin:0;
            opacity: 1;
            transition:0.3s;
            visibility: visible;
        }
        h3{
            font-family: 'Beaujolais';
            font-size: 2rem;
            margin:0;
            margin-top:-8px;
            opacity: 1;
            transition:0.3s;
            visibility: visible;
        }
        .halfCircle{
            -webkit-animation: 3s ease-out grow-circle;
            animation: 3s ease-out grow-circle;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 1s;
            animation-delay: 0.5s;
            background-color: #FCE202;
            width:120px;
            height:60px;
            position: absolute;
            top:65px;
            left:12px;
            transform: scale(0);
            transform-origin: center bottom;
            z-index: 0;
            border-top-left-radius: 120px;
            border-top-right-radius: 120px;
            transition:1s;
        }
        @keyframes grow-circle {
            0% {
                transform: scale(0);
                -webkit-transform: scale(0);
            }
            100% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }
    }
    &.fixed{
        position: fixed;
        height: 70px;
        padding: 10px;
        .navbar-brand{
            left:0;
            transform: translateX(15px);
            .imgHeader{
                width:50px;
            }
            h4{
                position: absolute;
                font-size:0.7rem;
                margin-top:-35px;
                margin-left:50px;
                /*
                opacity: 0;
                visibility: hidden;*/
            }
            h3{
                position: absolute;
                font-size:1.2rem;
                margin-top:-22px;
                margin-left:50px;/*
                opacity: 0;
                visibility: hidden;*/
            }
            .halfCircle{
                -webkit-animation: none;
                animation: none;
                background-color: #FCE202;
                width:40px;
                height:20px;
                position: absolute;
                top:22px;
                left:4px;
                z-index: 0;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                transform-origin: center bottom;
                transform: scale(0);
                transition: 0.5s;
            }
            &:hover{
                .halfCircle{
                    transform: scale(1);
                }
            }
        }
    }
}