@font-face {
    font-family: "Beaujolais"; 
    src: url("https://db.onlinewebfonts.com/t/e1f5bed9447ec6ee5cfbd7e2cc762667.eot"); 
    src: url("https://db.onlinewebfonts.com/t/e1f5bed9447ec6ee5cfbd7e2cc762667.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/e1f5bed9447ec6ee5cfbd7e2cc762667.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/e1f5bed9447ec6ee5cfbd7e2cc762667.woff") format("woff"), url("https://db.onlinewebfonts.com/t/e1f5bed9447ec6ee5cfbd7e2cc762667.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/e1f5bed9447ec6ee5cfbd7e2cc762667.svg#Beaujolais") format("svg"); 
}
body{
    .msg-error{
        color:#F00;
    }
}
.main-header{
    overflow: hidden;
}
.main-container.fixed{
    margin-top:180px;
}
.main-container{
    z-index: 0;
}
.modal-contacto{
    padding:0;
    .modal-dialog{
        max-width: 100%;
        margin:0;
        padding: 15px;
        .modal-content{
            .modal-header{
                justify-content: center;
                font-size: 1.5rem;
                font-weight: bold;
                border-bottom-width: 0;
                .close{
                    margin:0;
                    padding: 0;
                    position: absolute;
                    right:15px;
                    top:15px;
                }
            }
        }
    }
    &.show{
        .modal-dialog{
            /*
            top:50%;
            transform: translateY(-50%);*/
        }
    }
}